/*Universal selector (*) using this element to apply the css for the all element and attribute in the selected HTML file*/
*{
    /*padding,margin is used to align the content we will see more details about in the box model section*/
    padding: 0;
    margin: 0;
}
/* External css apply the css by from the external file using the style sheets*/
.signup_container{
    align-content: center;
    border-radius: 5px;
    background-color: rgb(255, 252, 252);
    color: rgb(0, 0, 0);
    width: 300px;
    height: 350px;
      
}
/*Selectors*/

/*1).Tags and element Selector*/
header{
    font-family: "Ga Maamli", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/*2).Class selector*/
 .signup_container{
    /*Handling font using the below property for any element in the HTML*/
    font-family: "Kalam", cursive;
    font-weight: 300;
    font-style: normal;
 }
 /*3).ID selector*/
 #MainSection{
    background-color: grey;
 }
  /*4).Child selector*/
header > h1{
    color: white;
}
  
