/*Universal selector (*) using this element to apply the css for the all element and attribute in the selected HTML file*/
*{
    /*padding,margin is used to align the content we will see more details about in the box model section*/
    padding: 0;
    margin: 0;
}
/* External css apply the css by from the external file using the style sheets*/
.signup_container{
    align-content: center;
    border-radius: 5px;
}