*{
    /* font-family: "Kalam", cursive;
    font-style: normal; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: rgb(255, 251, 251);
    width: 100vw;
    height: max-content;
    display: flex;
    flex-direction: column;

}
/* Box model
 ---------------------------------------------------------------------------------------*/
 .boxmodel{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 0;
    flex-flow: wrap;
    
 }
/* Header section 
------------------------------------------------------------------------------------------*/
 header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(1, 6, 53);
    color: white;
    height: 10vh;
    width: 100vw;
    position: fixed;
    top: 0;
 }
 header ul,li{
    display: flex;
    flex-direction: row;
    padding: 20px;
 }
 header a{
    text-decoration: none;
    color: white;
 }
 header li:hover{
    background-color: white;
    cursor: pointer;
 }
 header a:hover{
    color: rgb(1,6,53);
    text-shadow: 2px 2px 10px  rgba(1, 6, 53, 0.676);
 }
 /* Main
 ----------------------------------------------------------------------------------------------------------------------- */
 .main{
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    
 }
 /* Educational content
 ------------------------------------------------------------------------------------------------------------------------ */
 main{
    display: flex;
    margin: 50px;
    
 }
 .display-content h2{
    padding: 10px;
    margin-top:30px ;
    box-shadow: 2px 2px 10px black;
    position: fixed;
    top: 3rem;
    left: 3rem;
 }
 .display-content{
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 100%;
    
    align-items: center;
    justify-content: center;
 }
 .grid-box{
    display: flex;
    flex-direction: column;  
    padding-left:40px ;
    border-left: 2px solid black; 
 }
 .grid-items{
    display: flex;
    width: 40vw;
    height: 150px;
    overflow: hidden;
    gap: 20px;
 }
 .grid-items img{
    width: 200px;
    height: 150px;
 }
 .grid-items:hover{
    position: fixed;
    left: 0;
    top: 3rem;
    width: 50vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
 }
 /* 
 Breaking News
 ----------------------------------------------------------------------------------------------------------------------- */
 #breakingnews{
    display: flex;
    flex-direction: column;
    gap: 3vh;
    width: 25vw;
    align-items:center ;
    margin: 0 10px;
    border-right: 1px solid rgb(35, 32, 32);
    float: left;
    overflow:auto;
    height: 60vh;
    color: rgb(24, 23, 23);
 }
 .br-news a{
    color: rgb(31, 30, 30);
    text-decoration: none;
 }
 .br-news a:hover{
    text-decoration: underline;
    cursor: pointer;
 }


/* Live News
--------------------------------------------------------------------------------------------------------------------------- */
#live-news{
    width: 45vw;
    height: max-content;
}
#live-news iframe{
    padding: 20px;
    width: 40vw;
    height:60vh;
}
/* Educational Content
--------------------------------------------------------------------------------------------------------------------------- */

#educational-content{
    /* margin-top: 100px; */
    padding: 0;
    width: 25vw;
    height:400px;
    border: 1px solid rgb(5, 1, 47);
    align-items: center;
}
#educational-content h3,h4,figure,figcaption,img{
    padding-top: 20px;
}
#educational-content img{
    width: 100px;
    height: 75px;
}

#educational-content h3{
    text-decoration: dashed;
}

/* Today Headlines
 ------------------------------------------------------------------------------------------------------------------------------*/
#Today-headlines{
    border-top: 2px solid black;
    width: 100vw;
}
.news{
    display: flex; 
    flex-grow: 1;
    flex-shrink: 0; 
    gap: 10vw;
    margin: 20px;
}
.newscontent{
    width: 200px;
    height: max-content;
    
}
/* Footer 
------------------------------------------------------------------------------------------------------------------------------------- */
footer{
    background-color: rgb(5, 1, 47);
    color: white;
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    width: 100vw;
}














.about-page{
    background:url(../mainimg/about.jpeg) no-repeat center/cover;
    height: 100vh;
    width: 100vw;
    
}
.about-content{
    width: 600px;
    height:500px;
    background-color: rgba(255, 255, 255, 0.672);
    margin-left: 5vw;
    margin-top: 10vh;
    font-size: 15px;
    border-radius: 20px;
}
